body {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  padding-left: 0px;
  list-style: none;
}

ul {
  padding-left: 0px;
  list-style: none;
  text-decoration: none;
}

.top {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-page {
  flex: 1;
}

.header-top {
  height: 300px;
}

.main-top {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
}

.main-top .main-txt {
  text-align: center;
}
